# =========================================================================
# Keycloak
# =========================================================================
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=master

# =========================================================================
# URLs des microservices
# =========================================================================
USER_SERVICE_URL=http://user-service:8001
PRODUCT_SERVICE_URL=http://product-service:8002
ORDER_SERVICE_URL=http://order-service:8003
LOKI_URL=http://loki:3100



# =========================================================================
# Credentials Keycloak (Client Credentials Grant)
# =========================================================================
USER_CLIENT_ID=user-service
USER_CLIENT_SECRET=<USER_SERCRET>

PRODUCT_CLIENT_ID=product-service
PRODUCT_CLIENT_SECRET=<PRODUCT_SECRET>
ORDER_CLIENT_ID=order-service
ORDER_CLIENT_SECRET=<ORDER_SECRET>

